.infonode{
    height: 92vh;
    width: 15vw;
    background-image: url('../../public/sumo-landing-bg.png');
    padding: 5px;
    color: white;
}
.infonode-value{
    margin: 10px 0;
}
.infonode .infonode-text{
    color: black !important;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}
.infonode .infonode-button button{
    width: 100%;
    background-color: teal;
    margin: 10px 0;
    border-radius: 7px;
    padding: 4px;
    text-align: center;
}
.infonode .infonode-close button{
    width: 100%;
    border-radius: 7px;
    background-color: red;
    padding: 4px;
    text-align: center;
}




/* Interaction */
.interaction{
    display: flex;
}
.interactive{
    width: 100%;
    background-color: #A0A0A0;
}
.interaction-mildde{
    margin: 10px 5px;
    border-radius: 5px;
    background-color: #E0E0E0;
    height: 95%;
    padding: 15px;
}
.headInteractive{
    display: flex;
    width: 100%;
    height: 15%;
}
.headInteractive-left{
    flex: 1;
}
.headInteractive-right{
    flex: 1;
}
.headInteractive-middle{
    flex: 1;
}
.project{
    width: 100%;
    height: 80%;
    background-color:whitesmoke;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 10px;
}
.style-one-project{
    list-style: none;
    width: 200px;
    height: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px solid green;
    border-radius: 2px;
    color: blueviolet;
    cursor:pointer;
}
.style-one-project:hover{
    color: orange;
    background-color: gray;
}
.create-new-project{
    border: 1px solid orange;
    border-radius: 5px;
    display: flex;
    margin: 0 auto;
    color: orange;
    width: 170px;
    padding: 5px;
}
.create-new-project:hover{
    color: white;
    background-color: orange;
    cursor: pointer;
}
.searchproject{
    margin: auto;
}
.searchproject input {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    width: 70%;
}
.headInteractive-right-others{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}








/* Node auto*/
.textContent-data{
    font-size: 12px;
}